/*------------------------ Fonts declaration ----------------------*/
@font-face {
    font-family: "Lato 400";
    src: url("../fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lato 600";
    src: url("../fonts/Lato-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Lato 700";
    src: url("../fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Lato 800";
    src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
}



