@media screen and ( 750px > width ) {
    /*-----------------General declaration----------------*/
    .container {
        max-width: 100%;
        padding: 0 24px;
        margin: 0 auto;
    }

    .logo img {
        width: 27px;
    }

    .logo span {
        margin-left: 4px;
    }

    /*----------------------Header-----------------------------*/
    header .container {
        justify-content: space-between;
        height: 140px;
        align-items: center;
        padding-bottom: 24px;
    }

    header nav {
        display: none;
    }

    .button_transparent {
        display: none;
    }

    /*-------------------------Hero------------------------*/
    .hero .container {
        background: none;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 115px;
    }

    .hero__text {
        background: var(--background_gradient);
        margin-bottom: 80px;
    }

    .hero__text h1 {
          line-height: 150%;
    }

    .hero__text>p {
        line-height: 150%;
        max-width: 600px;
        margin: 30px 0 50px 0;
    }

    .hero__img {
        justify-content: center;
        margin-top: 30px;
    }

    .hero__img img{
        min-width: initial;
        width: 80vw;
       }

    /*----------------"Why Enver" section---------------------*/
    .why_enver__text {
        flex-direction: column;
    }

    .why_enver__text h2 {
        line-height: 150%;
        margin-bottom: 30px;
    }

    .why_enver__text p {
        margin-top: 0;
        line-height: 150%;
    }

    .why_enver__img {
        margin: 50px 0 105px 0;
    }

    /*----------------Services section-------------------*/
    .services .container {
        background: none;
        margin-bottom: 140px;
    }

    .services h2 {
        text-align: start;
        max-width: 100%;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .service_list .service_card {
        height: 318px;
        margin: 0;
    }

    .service_card h4 {
        margin: 20px 0 24px 0;
    }

    .service_card p {
        text-wrap: balance;
        width: 253px;
        line-height: 28px;
    }

    /*----------------Portfolio section-------------------*/
    .portfolio .container {
        height: 761px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .portfolio h3 {
        font-family: "Lato 400", sans-serif;
        font-weight: 400;
        margin-bottom: 50px;
        line-height: 150%;
        font-style: normal;
    }

    .portfolio .projects {
        justify-content: center;
    }

    .projects div {
        max-width: 375px;
        width: 99vw;
        min-width: auto;
    }

    .projects a:not(:first-child) {
        display: none;
    }

    /*--------------Contact us section*---------------------- */
    .contacts .container {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        min-height: 460px;
    }

    .contacts h2 {
        margin-bottom: 54px;
        line-height: 150%;
    }

    .contacts a {
        margin-left: 0;
    }

    /*--------------------Footer----------------------------*/
    footer .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 190px;
        padding-bottom: 10px;
    }

    footer .container > * {
        margin-bottom: 40px;
    }

    footer a {
        color: var(--text_gray);
        display: flex;
        font-size: 18px;
        line-height: 28px;
    }

    footer p {
        font-family: "Lato 400", sans-serif;
        font-weight: 400;
        color: var(--text_white);
        display: flex;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
}

